h1 {
  font-size: 30px;
  color: #4c16ff;
  width: 700px;
  text-align: center;
}

html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h2 {
	text-align: left;
}

p, li, h3 {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #c7d6ff;
}

.quotesdiv {
  background-color: #c7d6ff;
  border: 2px solid purple;
  width: 50%;	
}

.quote {
	font-weight: bolder;
}

img {
	width: 50%;
}
